<details class="cllr">
  <summary>
      <div class="cllr-summary">
          <img class="cllr-portrait {{ cllrParty }}" src="{{ cllrPhoto }}" loading="lazy">
          <p class="cllr-name">{{ cllrName }}</p>
          {% if page.layout == "councillors" %}
          <p class="cllr-summary--row-1">{{ cllrParty }}</p>
          <p class="cllr-summary--row-2">{{ cllrLocalAuthority }} {{ cllrLocalAuthorityType }}</p>
          <span class="expand-icon"></span>
          {% else if page.layout == "local-authority" %}
          <p class="cllr-summary--row-1">{{ cllrLocalAuthority }} {{ cllrLocalAuthorityType }}</p>
          <p class="cllr-summary--row-2">{{ cllrElectoralDistrict }}</p>
          <span class="more-icon"></span>
          {% endif %}
      </div>
  </summary>

  <section class="cllr-info">

      <p class="first-elected">
          <strong class="label">First elected</strong>
          <span class="data">
              {{ cllrStartDate }}
          </span>
      </p>

      <p class="identity">
          <strong class="label">Identity</strong>
          <span class="data">
              {{ cllrIdentity | default: "LGBT+" }}
          </span>
      </p>

      <p class="source">
          <strong class="label">Source</strong>
          <span class="data">
              <a href="{{ cllrSourceURL }}">{{ cllrSourceName }}</a>
          </span>
      </p>

      <p class="source-access-date">
          <strong class="label">Source publication date</strong>
          <span class="data">
              {{ cllrSourceDate }}
          </span>
      </p>

      {% if cllrNotes %}
      <div class="cllr-notes">
          {{ cllrNotes | markdownify }}
      </div>
      {% endif %}

  </section>
</details>