---
layout: default
---

<h1 class="largeTitle">Choose a local authority</h1>

<p>Select a local authority from the list below to view LGBT+ councillors who are currently elected to that local authority's governing body.</p>

<ul class="local-authorities">
{% assign sorted = site.local-authorities %}
{% for authority in sorted %}

    <li>
        <a href="{{ relative_url | append: authority.url }}" title="See data for {{ authority.title }}">
            <p class="local-authority--name">{{ authority.name }}</p>
            <p class="local-authority--type">{{ authority.type }}</p>
        </a>
    </li>
{% endfor %}

</ul>